@page "{id:int?}/{handler?}"
@model IndexModel
@{
}



<br />
<h2>Book List</h2>
<br />

@if (Model.Message != null)
{
    <div class="alert alert-info alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.Message
    </div>
}

<a asp-page="Create" class="btn btn-primary">Create New Book</a>

@if (Model.books.Count() > 0)
{
    <form method="post">
        <div>
            <br />
            <table class="table table-condensed table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(a => a.books.FirstOrDefault().ISBN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(a => a.books.FirstOrDefault().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(a => a.books.FirstOrDefault().Author)
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model.books)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.ISBN)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Author)
                        </td>
                        <td>
                            <a asp-page="Details" asp-route-id="@item.Id" class=" btn btn-primary btn-sm">Details</a>
                            <a asp-page="Edit" asp-route-id="@item.Id" class=" btn btn-success btn-sm">Edit</a>
                            <button asp-page-handler="Delete" asp-route-id="@item.Id" class=" btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </form>
}
else
{
    <p>No Books Found</p>
}